# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [30]:
import sys
sys.executable

'/Applications/anaconda3/envs/pandas_cub/bin/python'

In [31]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [32]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [164]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [165]:
df

In [17]:
df_final

In [18]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [19]:
# test if TypeError is raised successfully
pdc.DataFrame(10)

TypeError: data must be a dictionary

In [20]:
pdc.DataFrame({'a':10}) # dict type is working fine

In [21]:
# key test
pdc.DataFrame({10:1})

TypeError: key must be of type string

In [22]:
data = {'a': 5}
pdc.DataFrame(data)

TypeError: Values of data must be numpy arrays

In [23]:
arr = np.array([[1,2],[11,2],[33,23]])
data = {'a': arr}
pdc.DataFrame(data)

In [26]:
# one dimensional array test
arr = np.array([1,11,33])
data = {'a': arr}
pdc.DataFrame(data)

In [28]:
# check array length
arr1 = np.array([10,1,12])

arr2 = np.array([2,3])
data = {'a': arr1, 'b': arr2}
pdc.DataFrame(data)

ValueError: All arrays must be same length

In [37]:
len(df)

dict_values([array(['Penelope', 'Niko', 'Eleni'], dtype=object), array(['Texas', 'California', 'Texas'], dtype=object), array([3.6, 3.5, 5.2]), array([ True, False,  True]), array([ 45,  40, 130])])

3

In [43]:
df.columns

['name', 'state', 'height', 'school', 'weight']

In [45]:
df_pandas.columns

Index(['name', 'state', 'height', 'school', 'weight'], dtype='object')

In [50]:
df._data

{'name': array(['Penelope', 'Niko', 'Eleni'], dtype=object),
 'state': array(['Texas', 'California', 'Texas'], dtype=object),
 'height': array([3.6, 3.5, 5.2]),
 'school': array([ True, False,  True]),
 'weight': array([ 45,  40, 130])}

In [55]:
df.columns = ['a', 'b', 'c', 'd', 'e']
df._data

{'a': array(['Penelope', 'Niko', 'Eleni'], dtype=object),
 'b': array(['Texas', 'California', 'Texas'], dtype=object),
 'c': array([3.6, 3.5, 5.2]),
 'd': array([ True, False,  True]),
 'e': array([ 45,  40, 130])}

In [56]:
df.shape

(3, 5)

In [63]:
len(df)

3

In [62]:
len(df._data)

5

In [80]:
# print
df

In [87]:
name = np.array(['Penelope1', 'Niko1', 'Eleni1','Penelope2', 'Niko2', 'Eleni2','Penelope3', 'Niko3', 'Eleni3','Penelope4', 'Niko4', 'Eleni4'])
state = np.array(['Texas', 'California', 'Texas','Texas', 'California', 'Texas','Texas', 'California', 'Texas','Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2,3.6, 3.5, 5.2,3.6, 3.5, 5.2,3.6, 3.5, 5.2])
school = np.array([True, False, True,True, False, True,True, False, True,True, False, True])
weight = np.array([45, 40, 130,45, 40, 130,45, 40, 130,45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df2 = pdc.DataFrame(data)
df2

In [71]:
df._data.items

dict_items([('name', array(['Penelope', 'Niko', 'Eleni'], dtype=object)), ('state', array(['Texas', 'California', 'Texas'], dtype=object)), ('height', array([3.6, 3.5, 5.2])), ('school', array([ True, False,  True])), ('weight', array([ 45,  40, 130]))])

In [88]:
df_pandas.values

array([['Penelope', 'Texas', 3.6, True, 45],
       ['Niko', 'California', 3.5, False, 40],
       ['Eleni', 'Texas', 5.2, True, 130]], dtype=object)

In [89]:
df.values

array([['Penelope', 'Texas', 3.6, True, 45],
       ['Niko', 'California', 3.5, False, 40],
       ['Eleni', 'Texas', 5.2, True, 130]], dtype=object)

In [90]:
df_pandas.dtypes

name       object
state      object
height    float64
school       bool
weight      int64
dtype: object

In [95]:
df.dtypes

In [96]:
df

In [97]:
df['school']

In [98]:
df[['school', 'weight', 'state']]

In [101]:
# boolean selection
filt = df_pandas['height'] > 3.55
df_pandas[filt]

       name  state  height  school  weight
0  Penelope  Texas     3.6    True      45
2     Eleni  Texas     5.2    True     130

In [103]:
filt = df['school']
filt

In [104]:
df[filt]

arr:[ True False  True]

In [120]:
filt2 = df['state'] != 'Texas'
df[filt2]

TypeError: You must pass either a str, list, dataframe or tuple to the selection operator

In [110]:
df

### Row and Col selection

In [121]:
df[2, 1]

In [122]:
df[1,2]

In [123]:
df[0, 'weight']

In [124]:
df[0, ['weight', 'height']]

In [125]:
df[[0,1], 1]

In [128]:
df[[1,2], ['state', 'height']]

In [131]:
df[1:3, ['weight', 'height']]

In [132]:
df

In [135]:
df[[1,2], [0,2]]

In [137]:
df[0:2, ['name', 'height', 'state']]

In [138]:
df[0:2, 0:3]

In [139]:
df[:, 'state':'school']

In [140]:
df

### Tab completion

In [141]:
df['weight']

### new col assignment

In [143]:
df['new_col'] = np.array([100,11,12])
df

In [146]:
df['new_col2'] = 'verge1'
df

In [150]:
df.head(2)

In [152]:
df.tail(2)

In [153]:
df_pandas.sum()

name         PenelopeNikoEleni
state     TexasCaliforniaTexas
height                    12.3
school                       2
weight                     215
dtype: object

In [154]:
df.sum()

In [155]:
df.mean()

In [161]:
df

TypeError: unsupported format string passed to NoneType.__format__

In [168]:
df.isna()

In [167]:
df.count()

In [172]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', None])
height = np.array([3.6, np.nan, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df2 = pdc.DataFrame(data)
df2

In [173]:
df2.count()

In [178]:
df

In [183]:
dfs = df.unique()
dfs[1]

In [185]:
df.nunique()

In [190]:
df_pandas['state'].value_counts()

Texas         2
California    1
Name: state, dtype: int64

In [196]:
df.value_counts()[3]

In [197]:
df.value_counts(normalize=True)[3]

In [198]:
df

In [202]:
df.rename({'name':'Name', 'height':'Height'})

In [203]:
df.rename('name')

TypeError: columns parameter must be a dictionary type

In [204]:
df

In [205]:
df.drop('name')

In [206]:
df.drop(1)

TypeError: columns must be either str or list type

In [207]:
df.drop(['name', 'state'])

In [212]:
df.cumsum()

In [214]:
df_final

In [215]:
df_final.diff(n=1)

In [216]:
df

In [217]:
df.diff(n=1)

In [218]:
df.diff(n=-1)

In [219]:
df.pct_change(n=1)

/Users/Neeraj/Documents/Proj/Python/Pandas_cub/pandas_cub-master/pandas_cub/__init__.py:718: RuntimeWarning: divide by zero encountered in true_divide
  return self._oper('__mul__', other)

In [220]:
df

In [222]:
df[:, 2:] + 5

In [223]:
df[:, 2:] > 1

In [225]:
df[:, 2:] ** 2

In [226]:
df

In [227]:
df.sort_values('weight')

In [228]:
df.sort_values('name')

In [229]:
df.sort_values('name', asc=False)

In [232]:
df.sort_values(['weight'], asc=False)

In [235]:
df.sort_values(['school', 'weight'], asc=False)

In [240]:
df.sample(5, replace=True)

In [243]:
df.sample(frac=1.8, replace=True)

### pivot table

In [252]:
state = np.array(['Texas', 'Florida', 'Texas', 'Florida', 'Texas', 'Florida', 'Texas', 'Florida'])
fruit = np.array(['Apples','Apples','Apples','Apples','Oranges','Oranges','Oranges','Oranges'])
weight = np.array([5,4,10,3,2,2,4,1])
data = {'state':state, 'fruit':fruit, 'weight':weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df

In [254]:
df_final.pivot_table(rows = 'state', columns='fruit', values='weight', aggfunc='mean')

In [257]:
df.pivot_table(columns='state', values='weight', aggfunc='sum')

defaultdict(list, {'Texas': [5, 10, 2, 4], 'Florida': [4, 3, 2, 1]})

In [258]:
df.pivot_table(rows='fruit', values='weight', aggfunc='sum')

defaultdict(list, {'Apples': [5, 4, 10, 3], 'Oranges': [2, 2, 4, 1]})

In [264]:
df.pivot_table(rows='fruit', columns='state', values='weight', aggfunc='sum')

col_data: ['Texas' 'Florida' 'Texas' 'Florida' 'Texas' 'Florida' 'Texas' 'Florida']
row_data: ['Apples' 'Apples' 'Apples' 'Apples' 'Oranges' 'Oranges' 'Oranges'
 'Oranges']
val_data: [ 5  4 10  3  2  2  4  1]

defaultdict(list,
            {('Apples', 'Texas'): [5, 10],
             ('Apples', 'Florida'): [4, 3],
             ('Oranges', 'Texas'): [2, 4],
             ('Oranges', 'Florida'): [2, 1]})

In [265]:
df.pivot_table(rows='fruit', columns='state', values='weight', aggfunc='sum')

col_data: ['Texas' 'Florida' 'Texas' 'Florida' 'Texas' 'Florida' 'Texas' 'Florida']
row_data: ['Apples' 'Apples' 'Apples' 'Apples' 'Oranges' 'Oranges' 'Oranges'
 'Oranges']
val_data: [ 5  4 10  3  2  2  4  1]

{('Apples', 'Texas'): 15,
 ('Apples', 'Florida'): 7,
 ('Oranges', 'Texas'): 6,
 ('Oranges', 'Florida'): 3}

In [268]:
df.pivot_table(columns='fruit', values='weight', aggfunc='sum')

val_data: [ 5  4 10  3  2  2  4  1]
col_data: ['Apples' 'Apples' 'Apples' 'Apples' 'Oranges' 'Oranges' 'Oranges'
 'Oranges']
agg_dict: {'Apples': 22, 'Oranges': 9}

In [270]:
df.pivot_table(rows='fruit', values='weight', aggfunc='sum')

val_data: [ 5  4 10  3  2  2  4  1]
row_data: ['Apples' 'Apples' 'Apples' 'Apples' 'Oranges' 'Oranges' 'Oranges'
 'Oranges']
agg_dict: {'Apples': 22, 'Oranges': 9}
rows_vals: ['Apples' 'Oranges']
vals: [22  9]

In [273]:
df.pivot_table(rows='fruit', columns='state', values='weight', aggfunc='sum')

val_data: [ 5  4 10  3  2  2  4  1]
row_data: ['Apples' 'Apples' 'Apples' 'Apples' 'Oranges' 'Oranges' 'Oranges'
 'Oranges']
col_data: ['Texas' 'Florida' 'Texas' 'Florida' 'Texas' 'Florida' 'Texas' 'Florida']
agg_dict: {('Apples', 'Texas'): 15, ('Apples', 'Florida'): 7, ('Oranges', 'Texas'): 6, ('Oranges', 'Florida'): 3}
row: ['Apples', 'Oranges'], col: ['Florida', 'Texas'], new_vals: [7, 3]
row: ['Apples', 'Oranges'], col: ['Florida', 'Texas'], new_vals: [15, 6]

### documentation

In [274]:
df.pivot_table?

In [275]:
df.min?

In [276]:
## retrieve doc string for any method
df.pivot_table.__doc__

"\n        Creates a pivot table from one or two 'grouping' columns.\n\n        Parameters\n        ----------\n        rows: str of column name to group by\n            Optional\n        columns: str of column name to group by\n            Optional\n        values: str of column name to aggregate\n            Required\n        aggfunc: str of aggregation function\n\n        Returns\n        -------\n        A DataFrame\n        "

### string

In [277]:
df.str

In [279]:
df.str.upper('state')

In [280]:
df.str.count('state', 'a')

### read_csv

In [285]:
data = pdc.read_csv('data/employee.csv')

In [288]:
data.head()

In [289]:
data.dtypes